.myCards>.isTrump, .plays>.isTrump {
  box-shadow: inset 0 0 0.5vmax #Fd0, inset 0 0 2.5vmax #ff3;
}

#myHand>.myCards:hover {
  box-shadow: 0px 0px 1.5vmax red;
  transform: scale(1.1) translate3d(0, -0.75vmax, 0);
}

.otherCards, .otherCards>img {
  display: inline-block;
  height: 5vmax;
  margin: 0px -1vmax;
  border-radius: 0.2vmax;
  box-sizing: border-box;
  filter: drop-shadow(-0.9vmax 0.15vmax -0.5vmax rgba(33, 33, 33, 0.6));
  /* box-shadow: -0.9vmax 0.15vmax 0.9vmax -0.45vmax rgba(0, 0, 0, 0.66); */
  /* border: 0.2vmax solid #88f; */
}

.stuff>.otherCards>img {
  height: 4vmax;
}

#showCase>.otherCards {
  margin: 0.05vmax 0.5vmax;
  box-shadow: 0vmax 0vmax 0vmax 0vmax #000;
  position: relative;
  display: block;
  background-color: transparent;
}

#showCase>.otherCards>img {
  background: white;
}

#myHand {
  display: none;
  position: absolute;
  height: 22vh;
  width: 100vw;
  bottom: -5vh;
  padding: 1.5vh 1.5vw 1.5vh 12vw;
  padding-right: 1.5vmax;
  text-align: center;
  box-sizing: border-box;
  /* border: 0.2vmax solid #f88; */
}

#alternativeActions {
  display: none;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 22%;
  z-index: 9999999;
}

div#myHand.highlighted {
  box-shadow: inset 0 0 1vmin #fff, /* inner */
  inset 0.6vmin 0 2vmin rgb(51, 221, 213), /* inner left short */
  inset -0.6vmin 0 2vmin rgb(51, 221, 213), /* inner right short */
  inset 0.6vmin 0 3vmin #7EB2A8, /* inner left broad */
  inset -0.6vmin 0 3vmin #7EB2A8;
  /* inner right broad */
  -webkit-animation: heartbeat 0.8s 4s;
  animation: heartbeat 0.8s 4s;
}

.otherPlayerHand {
  position: absolute;
  display: block;
  height: 7vmax;
  width: 20vmax;
  text-align: center;
  box-sizing: border-box;
  /* border: 0.2vmax dotted #c37; */
}

.cardback {
  height: 7vmax !important;
  width: 5vmax !important;
  border-radius: 4px;
}

.myCards>img {
  height: 7vmax !important;
  width: 5vmax !important;
}

.myCards {
  display: inline-block;
  background: white;
  margin: 0px 0.2vmax;
  border-radius: 0.5vmax;
  transition-duration: 0.2s;
}
.myCards:after {
  content:'Here is some text..';
  color:#fff;
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
}
.myCards:hover:after {
  opacity:1;
}
#trickDetails {
  /* background: rgba(53, 53, 53, 0.4); */
  position: absolute;
  top: -3.5vmax;
  width: 15vmax;
  /* max-height: 15vmax;
  overflow-y: auto; */
  z-index: 99999;
}

.trick {
  margin-top: -3.5vmax;
}

.wonTrickCard {
  height: 5vmax;
  margin: 0px -0.8vmax;
  background-color: white;
  box-shadow: -0.7vmax 0.1vmax 0.7vmax -0.3vmax rgba(0, 0, 0, 0.66);
  border-radius: 0.2vmax;
}

.highlighted {
  box-shadow: 0 0 2vmin rgb(36, 223, 76), inset 0 0 1vmin rgb(36, 223, 76);
}

.highestOption {
  box-shadow: 0 0 2vmin rgb(36, 76, 223), inset 0 0 1vmin rgb(36, 76, 223);
}

.lowestOption {
  box-shadow: 0 0 2vmin rgb(223, 36, 76), inset 0 0 1vmin rgb(223, 36, 76);
}

.onlyOption {
  box-shadow: 0 0 2vmin rgb(223, 223, 76), inset 0 0 1vmin rgb(223, 223, 76);
}

#myPlay {
  box-sizing: border-box;
  top: 40vh;
  left: 25vw;
}

#myStuff {
  top: 56vh;
  left: 60vw;
  width: 24vw;
}

.potentialTask {
  width: 4vmax;
  margin: 1px;
  background: #fff;
}

.leader {
  /* border: 2px double #8f1; */
  background: rgba(4, 55, 20, 0.07);
  text-decoration: underline;
}

.plays {
  position: absolute;
  height: 10vmax;
  width: 20vw;
  top: 12vmax;
  left: 0vmin;
  box-sizing: border-box;
  text-align: center;
  /* border: 1px solid #ff8; */
}

.plays>img {
  height: 7vmax;
  width: 5vmax;
}