* {
  font-size: 1.5vmax;
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}
/* div {
  border: 2px dotted rgba(255, 255, 128, 0.8) !important;
} */
#tokenQmark {
  height: 2vmax;
}

#tokenLegend {
  display:none;
  position: fixed;
  left: 2vmax;
  top: 2vmax;
  z-index: 99999999999;
}
.token {
  position: absolute;
  z-index: 999999;
  font-size: 0px;
  top: .7vmax;
  left: 6.7vw;
 }
.token > img {
  filter: drop-shadow(0.15vmax 0.15vmax 0 rgba(248, 255, 206, 0.5)) drop-shadow(-0.15vmax 0.15vmax 0 rgba(248, 255, 206, 0.5)) drop-shadow(0.15vmax -0.15vmax 0 rgba(248, 255, 206, 0.5)) drop-shadow(-0.15vmax -0.15vmax 0 rgba(248, 255, 206, 0.5));
  width: 2vmax;
}

.isTrump {
    box-shadow: inset 0 0 0.5vmax #Fd0, inset 0 0 2.5vmax #ff3;
}
.trumpDrops {
  font-size: 1vmax;
  opacity: 0.9;
  z-index: 999999;
  position: absolute;
  left: -0.1vmax;
}

.icnDrop {
  top: 0.4vmax;
}
.doneBut{
  top: 1.7vmax;
  cursor: pointer;
  left: 0.4vmax;
  font-size: 1.2vmax;
}
.plyrDrop {
  top: 2.9vmax;
  font-size: 1vmax;
}

#roomID {
  font-size: 4vmax;
}

.attentionWobble{
	-webkit-animation: wobble-hor-top 0.8s both;
	        animation: wobble-hor-top 0.8s both;
}


#bidOfRound {
  position: absolute;
  height: 10%;
  width: 10%;
  text-align: center;
  top: 45%;
  right: 45%;
}

.bidCell:hover {
  border: 2px solid greenyellow;
}

#legend_container {
  position: absolute;
  height: 40%;
  width: 20%;
  top: 30%;
  left: 3%;
  color: white;
  text-align: center;
  opacity: 0.8;
}

#legend {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#legend>span {
  position: static;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  display: block;
}

#pass {
  font-size: 1.5vmax;
  position: absolute;
  height: 20%;
  width: 20%;
  top: 40%;
  right: 3%;
}

table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: white;
  opacity: 0.8;
  color: black;
}

td, th {
  height: 25px;
  width: 25px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

#topbar {
  display: block;
  text-align: right;
  font-weight: bold;
  padding: 0.5vmax
}

#gameBoard {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#playArea {
  display: none;
  position: absolute;
  top: 15vh;
  left: 15vw;
  height: 65vh;
  width: 70vw;
  box-sizing: border-box;
  /* border: 0.8vmax solid white; */
  /* display:none; */
}

#turnIndicator {
  text-align: center;
  position: absolute;
  height: 10vh;
  width: 50vw;
  top: 0vh;
  left: 30vw;
  /* border: 2px double #f18; */
}
#taskOptions{
  position:absolute;
  top:10vh;
  left:25vw;
  z-index:999999999;
  max-width: 50vw;
  background: rgba(45,45,45,0.65);
}
#showCase {
  text-align: center;
  position: absolute;
  height: 100vh;
  width: 10vw;
  top: -0.5vh;
  padding-top: 0.5vh;
  left: 0vw;
  border-width: 3px;
  border-style: solid;
  background: linear-gradient(190deg, rgba(233,233,233,1) 0%, rgba(56,75,73,1) 35%, rgba(252,176,69,0) 80%);
  box-shadow: inset 0 0 1vmax rgba(33, 33, 33, 0.5);
  border-image: 
  linear-gradient(190deg, rgba(233,233,233,1) 0%, rgba(56,75,73,1) 35%, rgba(252,176,69,0) 80%);
  display: none;
}

#gameControls {
  position: absolute;
  left: 10vw;
  bottom: 10vh;
  height: 10vh;
  width: 10vw;
  border: 2px double #18f;
  display: none;
}

.locationContainer {
  position: absolute;
  width: 20vw;
  /* border: 1px dashed #f68; */
}
.leader {
  /* border: 2px double #8f1; */
  background: rgba(4, 55, 20, 0.07);
  text-decoration: underline;
}
.plays {
  position: absolute;
  height: 10vmax;
  width: 20vw;
  top: 12vmax;
  left: 0vmin;
  box-sizing: border-box;
  text-align: center;
  /* border: 1px solid #ff8; */
}

.plays>img {
  height: 7vmax;
  width: 5vmax;
}
b {
color:rgba(20,40,120,1);
}
.name {
  box-sizing: border-box;
  position: absolute;
  height: 2.5vmax;
  width: 20vw;
  top: 7vmax;
  left: 0vmax;
  font-size: 1.5vmax;
  text-align: center;
  /* border: 1px solid #8ff; */
}

.stuff {
  box-sizing: border-box;
  position: absolute;
  display: block;
  top: 9.5vmax;
  left: 0vmax;
  height: 5vmax;
  width: 5vmax;
  z-index: 666;
  text-align: center;
  /* border: 1px solid #8f8; */
}

.winCount {
  box-sizing: border-box;
  position: absolute;
  height: 2vmax;
  padding: 0.5vmax;
  width: 5vmax;
  top: 9.5vmax;
  left: 0vmax;
  z-index: 999;
  text-align: center;
  font-weight: bold;
  line-height: 100%;
  /* border: 1px solid #f8f; */
  text-shadow: 0 0 1vmax #000, 0px 0px 2vmax #003, 0 0 4vmax #001;
  background-image: radial-gradient(RGBA(0, 0, 0, 1), RGBA(0, 0, 0, 0.33), RGBA(0, 0, 0, 0));
}

#myPlay {
  box-sizing: border-box;
  top: 40vh;
  left: 25vw;
}

#myStuff {
  top: 56vh;
  left: 60vw;
  width: 24vw;
}
.potentialTask{
  width:4vmax;
  margin:1px;
  background: #fff;
}

#myCommunication{
  position: absolute;
  top: 58.5vh;
  left: 38vw;
  font-size: 2vmax;
  cursor: pointer;
  font-weight: bold;
  z-index: 99999999;
}
#playersInRoom{  
  width:20vw;
  height:20vh;
  /* background: rgba(21,211,123,0.1); */
}

.noComms{
  -webkit-text-stroke: 1px #c66;
  color: #a21;
  text-shadow:
      3px 3px 0 #c66,
    -1px -1px 0 #c66,  
     1px -1px 0 #c66,
     -1px 1px 0 #c66,
      1px 1px 0 #c66;
}
.usedComms{
  -webkit-text-stroke: 1px #ccc;
  color: #333;
  text-shadow:
      3px 3px 0 #ccc,
    -1px -1px 0 #ccc,  
     1px -1px 0 #ccc,
     -1px 1px 0 #ccc,
      1px 1px 0 #ccc;
}
.limitedComms{
  -webkit-text-stroke: 1px #cc6;
  color: #dc0;
  text-shadow:
      3px 3px 0 #cc6,
    -1px -1px 0 #cc6,  
     1px -1px 0 #cc6,
     -1px 1px 0 #cc6,
      1px 1px 0 #cc6;
}
.readyComms{
  -webkit-text-stroke: 1px #6c6;
  color: #383;
  text-shadow:
      3px 3px 0 #6c6,
    -1px -1px 0 #6c6,  
     1px -1px 0 #6c6,
     -1px 1px 0 #6c6,
      1px 1px 0 #6c6;
}

.plyrDropName{
  display:none;
}
#myDrpPlyrName{
  position: absolute;
  top: 58.5vh;
  left: 42vw;
}

#myName {
  top: 58.5vh;
  left: 45vw;
  width: 15vw;
}

#myWin {
  top: 56vh;
  left: 60vw;
}
#startGameButton{
  display:none;
}
#gameSetup {
  display: table;
  position: absolute;
  top: 27.5%;
  left: 5%;
  height: 40%;
  width: 40%;
  box-sizing: border-box;
}

#gameRecap {
  height: 100%;
  width: 50%;
  background-color: white;
  color: black;
  border: 2px solid black;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5vmax;
  text-align: center;
}

#gameRecap>button {
  height: 40%;
  width: 50%;
  text-align: center;
  background-color: black;
  color: white;
}

#gameRecap>button:hover {
  background-color: #ffccfa;
  color: black;
}

.setupModule {
  display: table-cell;
  vertical-align: middle;
}

#roomID {
  text-align: center;
  margin: 3vmax;
}

.gameButtons {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1.2vmax;
  margin: 0px 0px 0px 1vmax;
  border-radius: 0.5vmax;
  transition-duration: 0.2s;
}
.playerBtns:disabled, .playerBtns[disabled], .startBtn:disabled, .startBtn[disabled]  {
  background-color: #999;
  color: #333;
}
.gameButtons:hover, .startBtn:hover {
  background-color: #435078;
  box-shadow: 0px 0px 1.5vmax rgba(0,182,82,0.5);
  color: white;
}
#nicknameInput{
  display:block;
  margin-bottom: 2vmax;
}
.playerBtns, .startBtn {
  background-color: white;
  color: black;
  text-align: center;
  display: block;
  clear:both;
  border-radius: 0.5vmax;
  transition-duration: 0.1s;
}

.playerBtns:hover {
  box-shadow: 0px 0px 1.5vmax red;
}

.myHand {
  display: block;
  position: absolute;
  height: 15%;
  width: 100%;
  bottom: 2%;
  padding:1.5vmax;
  /*margin:auto;
  height: 100%;*/
  text-align: center;
  box-sizing: border-box;
  /* border: 0.2vmax solid #f88; */
}

.otherPlayerHand {
  position: absolute;
  display: block;
  height: 7vmax;
  width: 20vmax;
  text-align: center;
  box-sizing: border-box;
  /* border: 0.2vmax dotted #c37; */
}

.cardback {
  height: 7vmax !important;
  width: 5vmax !important;
  border-radius: 4px;
}

.myCards>img {
  height: 7vmax !important;
  width: 5vmax !important;
}

.myCards {
  display: inline-block;
  background-color: white;
  margin: 0px 0.2vmax;
  border-radius: 0.5vmax;
  transition-duration: 0.1s;
}

#trickDetails {
  margin-top: -12vmax;
  width: 15vmax;
  z-index: 99999;
}

.trick {
  margin-top: -3vmax;
}

.wonTrickCard {
  height: 5vmax;
  margin: 0px -0.8vmax;
  background-color: white;
  box-shadow: -0.7vmax 0.1vmax 0.7vmax -0.3vmax rgba(0, 0, 0, 0.66);
  border-radius: 0.2vmax;
}

.highlighted {
  box-shadow: 0 0 2vmin rgb(36, 223, 76), inset 0 0 1vmin rgb(36, 223, 76);
}

div#myHand.highlighted {
  box-shadow: inset 0 0 1vmin #fff, /* inner */
  inset 0.6vmin 0 2vmin rgb(51, 221, 213), /* inner left short */
  inset -0.6vmin 0 2vmin rgb(51, 221, 213), /* inner right short */
  inset 0.6vmin 0 3vmin #7EB2A8, /* inner left broad */
  inset -0.6vmin 0 3vmin #7EB2A8;
  /* inner right broad */
	-webkit-animation: heartbeat 0.8s 4s;
	        animation: heartbeat 0.8s 4s;
}

.assignments {
  z-index: 999999999;
  position: absolute;
  top: 2.9vmax;
  left: 6.75vw;
}

.AM{
  text-shadow: 0 -1px 5px #EE2233, -2px 0 10px #EE2233, 0 3px 15px #CCDD33, 4px 0 25px #CCDD33;
  color:rgba(255,255,255,0.66);
}
.AP{
  text-shadow: 0 -1px 5px #00aa88, -2px 0 10px #00aa88, 0 3px 15px #cc44dd, 4px 0 25px #cc44dd;
  color:rgba(255,255,255,0.66);
}
.EM{
  text-shadow: 0 -1px 5px #4400AA, -2px 0 10px #4400AA, 0 3px 15px #009933, 4px 0 25px #009933;
  color:rgba(255,255,255,0.66);
}
.GM{
  text-shadow: 0 -1px 5px #FF8800, -2px 0 10px #FF8800, 0 3px 15px #002299, 4px 0 25px #002299;
  color:rgba(255,255,255,0.66);
}

.myCards:hover {
  box-shadow: 0px 0px 1.5vmax red;
}

.otherCards, .otherCards>img {
  display: inline-block;
  background-color: white;
  height: 5vmax;
  margin: 0px -1vmax;
  border-radius: 0.2vmax;
  box-sizing: border-box;
  box-shadow: -0.9vmax 0.15vmax 0.9vmax -0.45vmax rgba(0, 0, 0, 0.66);
  /* border: 0.2vmax solid #88f; */
}

.stuff>.otherCards>img {
  height: 4vmax;
}

#showCase>.otherCards {
  
  margin: 0.05vmax 0.5vmax;
  box-shadow: 0vmax 0vmax 0vmax 0vmax #000;
  position: relative;
  display:block;
  background-color: transparent;
}

#chat {
  position: absolute;
  bottom: 0%;
  right: 0;
  height: 60%;
  width: 25%;
  padding: 0;
  pointer-events: none;
  display: none;
}

#chatBox {
  position: static;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
  color: black;
}

#boxTop {
  pointer-events: auto;
  position: relative;
  background-color: #435078;
  height: 7%;
  width: 100%;
  text-align: right;
  color: white;
  font-size: 100%;
  border: 0.5vmax double #ff3;
}

#boxBottom {
  pointer-events: auto;
  display: none;
  position: relative;
  border: 0.2vmax solid black;
  background-color: white;
  height: 93%;
  width: 100%;
}

#msgBox {
  pointer-events: auto;
  padding: 1vmax;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  height: 80%;
  display: block;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

#txtBox {
  pointer-events: auto;
  position: absolute;
  bottom: 0;
  height: 20%;
  display: block;
  width: 100%;
  text-align: center;
}

#textArea {
  pointer-events: auto;
  height: 100%;
  width: 96%
}

#boxTop>.closeBtn {
  pointer-events: auto;
  display: inline-block;
  height: 100%;
  padding: 2%;
  box-sizing: border-box;
}

.loading {
  font-size: 2.5vmax;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-11-14 19:54:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  17% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  17% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
