.Player1{
  color: rgba(210,25,12,1);
}
.Player2{
  color: rgba(12,55,200,1);
}
.Player3{
  color: rgba(20,140,12,1);
}
.Player4{
  color: rgba(220,220,12,1);
}
.Player5{
  color: rgba(110,25,180,1);
}
.Player6{
  color: rgba(205,105,12,1);
}
.Player7{
  color: rgba(0,170,180,1);
}
.Player8{
  color: rgba(255,100,200,1);
}
.Player9{
  color: rgba(66,40,15,1);
}
.Player10{
  color: rgb(85, 85, 85);
}